name: Deploy no GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar o código do repositório
        uses: actions/checkout@v4

      - name: Configurar GitHub Pages
        uses: actions/configure-pages@v5

      - name: Fazer upload do site
        uses: actions/upload-pages-artifact@v3
        with:
          path: . 

      - name: Fazer o deploy no GitHub Pages
        uses: actions/deploy-pages@v4
